Source: kimmo-gtk-theme
Maintainer: Joshua Peisach <ubuntucinnamonremix7@gmail.com>
Section: misc
Priority: important
Build-Depends: debhelper (>= 9)

Package: kimmo-gtk-theme
Architecture: all
Depends: gnome-themes-extra, gtk2-engines-murrine, gtk2-engines-pixbuf, libgtk3-dev, numix-gtk-theme, kimmo-icon-theme, arc-theme ${misc:Depends}
Description: The Kimmo GTK Theme for the Ubuntu Cinnamon Remix, created by Kimmo Kujansuu
